body {
    background-color:rgb(211, 252, 252);
}
h1 {
    color:brown;
    font-family:sans-serif;
    font-size:300%;
}
h2 {
    color:rgb(229, 98, 98);
    font-family:sans-serif;
    font-size:180%;
}
p {
    font-family:sans-serif;
    font-size:110%;
}
a {
    color:blueviolet;
    font-family:sans-serif;
    font-size:110%;
}
#menu{color:rgb(226, 137, 43);
        font-family:sans-serif;
        font-size:200%;
        text-align: center;
        display: block;
        text-decoration: none;
}
ul {
    list-style-type: none;
}
#nausicaa{
    text-align: center;
}
footer {
    font-family:sans-serif;
    font-size:110%;
    text-align: center;
}